body { 
  background-color:  rgb(0,0,0); 
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url('/img/trees_night_starry_sky_146805_3840x2400.jpg');
  font-size: 0.8em;
  color: white;
  font-family: Ubuntu;
}
h2 { font-size: 120%; margin-bottom: 0;}
h3 { color: rgb(151,151,151); font-size: 0.9em; margin-top: 0; }

.header {
  line-height: 2em;
}
.box {
  background-color: rgba(24, 31, 52, 0.7);
  /*background-color: rgba(0,0,0,0.5);*/
  padding: 20px 20px 20px 20px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
}

.forecastTable td {
  padding: 1% 2% 1% 1%;
  width: 15%;
}
.forecastTable .time-col { padding-right: 10%; color: rgb(151,151,151); width: 15%; }
.forecastTable .temperature-col { font-weight: bold; font-size: 1.2em;}


.recharts-text { color: rgb(151,151,151); }

.temperatureNow { font-size: 400%; line-height: 1.5em;}

.wind-container {
  width: 32px;
  height: 32px;
  position: relative;
  text-align: center;
  color: black;
  vertical-align: center;
}
.wind-text { 
  position: absolute;   
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.weatherTable td { padding-right: 10%; white-space: nowrap; }